<!DOCTYPE html>
<html lang="en">
  <head>
    <title>News Aggregator</title>
  </head>

  <h2>Launcher News!</h2>
  <body>
  <% CSV.foreach('articles.csv', headers:true) do |row| %>
    Title: <%= row[0] %>
    URL: <a href='<%= row[1] %>' target= '_blank'><%= row[1] %></a>
    Description: <%= row[2] %>
    <br>
    <% end %>
  </body>
</html>
