<!DOCTYPE html>
<html lang="en">
  <head>
    <title>News Aggregator</title>
  </head>

  <h2>Launcher News!</h2>
  <body>
  <% @articles.each do |article| %>
    Title: <%= article["Title"] %>
    URL: <a href='<%= article[" URL"] %>' target= '_blank'><%= article[" URL"] %></a>
    Description: <%= article[" Description"] %>
    <br>
    <% end %>
  </body>
</html>
